<div class="container">
   <%-  include('partials/home-partials/banner') %>
    <!-- CATEGORIES SECTION-->
    <%-  include('partials/home-partials/categories') %>
    <!-- TRENDING PRODUCTS-->
    <%-  include('partials/home-partials/trending-products') %>
    <!-- SERVICES-->
    <%-  include('partials/home-partials/services') %>
     <!-- NEWSLETTER-->
     <%-  include('partials/home-partials/newsletter') %>
  </div>
